* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main style */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 700;
}

nav {
    width: 71%;
    max-width: 1170px;
    /* border: 5px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    align-items: center;

}

nav a {
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}